---
import type ProjectTile from '../models/ProjectTile';

export interface Props {
	project:ProjectTile
}

const { project: { title, route, type, colorClass, image, textColor ="#4f39fa" } } = Astro.props;
---

<a class={`link-tile ${colorClass}`} href={route}>
	<div class="title-type">
		<h2>{title}</h2>
		<p class="project-type">{type}</p>
	</div>
	<div class="img-container">
		<img src={image.srcPath} alt={image.altText} class="img" />
	</div>
</a>
<style lang="scss" define:vars={{ textColor }}>
	@import '../styles/abstracts.scss';
	.link-tile {
		@include flex-box(column, nowrap, normal, normal);
		position: relative;
		padding: 0.15rem;
		background-size: 400%;
		border-radius: 0.5rem;
		background-position: 100%;
		margin-top: 2rem;
        height: 300px;
        width: 99%;
		box-shadow: 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%), 0 3px 5px -1px rgb(0 0 0 / 40%);
		text-decoration: none;
	}

	.img-container {
		@include flex-box(column, wrap, center, center);
		height: 80%;
		padding: 1rem;
	}

	.img {
		max-width: 180px;
		width: 100%;
		height: auto;
	}

	.title-type {
		height: 15%;
		padding-left: 20px;
    	padding-top: 20px;
	}

	.link-tile:active {
		transition: all 1s ease-out;
    	transform: scale3d(.99,.99,.99) translateZ(0);
    	box-shadow: 0 0 0 transparent;
	}

	.tile-purple-pink {
		background-image: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	.tile-blue-teal {
		background-color: #0093E9;
		background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
	}

	.tile-yellow-pink {
		background-color: #FBDA61;
		background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
	}

	.tile-blue-pink {
		background-color: #08AEEA;
		background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
	}

	.tile-lightblue-pink {
		background-color: #A9C9FF;
		background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
	}

	.tile-purple-red {
		background-image: linear-gradient( 358.4deg,  rgba(249,151,119,1) -2.1%, rgba(98,58,162,1) 90% );
	}

	.tile-red-x {
		background: #8E0E00;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

	h2 {
		margin: 0;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		color: var(--textColor)
	}

	p {
		margin-top: 0.15rem;
		margin-bottom: 0;
	}

	.link-tile:is(:hover, :focus-within) {
		background-position: 0;
	}

	.link-tile:is(:hover, :focus-within) h2, {
		color: var(--textColor);
	}

	.project-type {
		color: var(--textColor)
	}

	.link-tile:is(:hover, :focus-within) h2 span p {
		will-change: transform;
		transform: translateX(2px);
	}

	@media screen and (min-width: screen("xs")) {
		.link-tile {
            height: 450px
	    }
		.img { max-width: 300px;}
	}

	@media screen and (min-width: screen("sm")) {
		h2 { color: inherit }
	}

    @media screen and (min-width: screen("md")) {
		.link-tile {
            width: 70%;
            height: 500px
	    }
		.link-tile:hover {
			transform: translate3d(0,-5px,0);
		}
	}
</style>
